<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head> -->
<body>
    <% if( theUser === undefined){ %>
      <form action="/register" method="get">
        <button type="submit" value="Submit">Register</button>
      </form>
      <form action="/login" method="get">
        <button type="submit" value="Submit">Login</button>
      </form>
    <% } else{ %>
      <form action="/logout" method="post">
        <label for="username">Username: <%= theUser.email %></label>
      <button type="submit" value="Submit">Logout</button>
    </form>
<% } %>
</body>
</html>